@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&family=Rubik:wght@400;500&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 104, 208, 0.338);
    margin: 0;
    padding-top: 100px;
    font-family: 'DynaPuff', cursive;
    font-family: 'Rubik', sans-serif;

}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    text-align: center;
    display: flex;
}

.card{
    margin: 50px 2em;
    line-height: 60px;
    font-size: 30px;  
    font-weight: 500;
    color:rgba(0, 0, 0, 0.6);
}

#title{
    font-size: 50px;
}

input{
    border-radius: 5px;
    border:none;
    height: 40px;
    width: 250px;
    padding: 20px;
    color: rgba(0, 104, 208);;
}

button{
    border-radius: 5px;
    border:none;
    height: 40px;
    background-color: rgba(0, 104, 208);
    color: white;
    width: 100px;
    font-size: 15px;
}



